.col-md-3 img  {
	max-height: 350px;
	max-width: 290px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;

}

.col-md-3:hover {
	box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc; 
}

.unzapatazo-footer {
	margin-left: 45%;
	margin-top: 3%;
}

.zapata-header {
	max-width: 45%;
    margin-bottom: 45px;
    margin-top: 45px;
}

/*.modal-footer {
	padding-bottom: 3%;
  	padding-right: 30%;
}*/

/*#zapatazo-modal-link img {
	max-height: 25px;
}

#zapatazo-modal-img {
	max-height: 350px;
	max-width: 290px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}*/

