.col-md-3 img  {
	max-height: 350px;
	max-width: 290px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;

}

.col-md-3:hover {
	box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc; 
}

#zapatazo-modal-link img {
	max-height: 25px;
}

#zapatazo-modal-img {
	max-height: 350px;
	max-width: 290px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}