{% extends "base.html" %}

{% block content %}

Caricaturista, pintor y escritor venezolano, Pedro Leon Zapata fue alguien que supo interpretar a su país con un lápiz a la mano. Paso décadas narrando y criticando la realidad social venezolana a punta de sus famosos #zapatazos. La linea temática fundamental del humorismo periodístico de Zapata se basaba en la denuncia de las de las marginaciones y discriminaciones provocadas por el desarrollo caótico que experimentó la Venezuela petrolera.
<br>
<br>
<div class="acerca">
	<center>
		<img src="/static/images/conductores_zapata.png" alt="[Conductores de Venezuela]">
	<br>
	<br>
		<a href="https://medium.com/espanol/panegirico-a-trazo-de-lapiz-4d2aabe2d387#.c2z23wi8e">
			<em>Siempre tuvo la línea justa para contar nuestra historia, para mostrar a la Venezuela real, profunda y sentida a través de su lápiz. Para Zapata, el país era una hoja en blanco que construir a diario.</em>
		</a>
	</center>
</div>
<br>
<br>
<em>Purozapatazos</em> es un rincón digital para honrar la obra de Zapata. Auténtico genio artístico, su legado traspasa su vida y se queda plasmado en las muchas sabidurías que trazó, pintó, y escribió. Todos los #zapatazos mostrados aquí fueron recolectados de El Nacional, periódico en el cual Zapata concreto su leyenda. 
<br>
<br>
Para cualquier pregunta: <a href="https://twitter.com/purozapatazos">@purozapatazos</a>.

{% endblock %}