<!DOCTYPE html>
<html lang="en"> <!-- TOD - Cambio de lang -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Puro Zapatazos</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </head>

  <body>
    <h1>Zapata</h1>
    <h2>
      <a href="/purozapatazos">#purozapatazos</a>
    </h2>
    {% block content%}
    {% endblock %}
  </body>
</html>