<!DOCTYPE html>
<html lang="en"> <!-- TODO - Cambio de lang -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Puro Zapatazos</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css"> 
    <script type="text/javascript" src="../static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/loader.js"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light|Raleway&subset=latin-ext' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <a href="/">
          <center><img class="zapata-header" src="/static/images/zapata.png"></center>
        </a>
      </div>
      {% block content %}
      {% endblock %}
    </div>
    
    <script>
      window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>

  </body>
</html>