<!DOCTYPE html>
<html lang="en"> <!-- TODO - Cambio de lang -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="photo" />
	  <meta name="twitter:site" content="@purozapatazos" />
	  <meta name="twitter:title" content="Puro Zapatazos" />
	  <meta name="twitter:image" content="{{zapatazo.imglink}}" />
	  <meta name="twitter:url" content="http://zapatazos.herokuapp.com/{{zapatazo.id}}" />
    <title>Puro Zapatazos</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css"> 
    <script type="text/javascript" src="../static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/loader.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <a href="/">
          <center><img class="zapata-header" src="/static/images/zapata.png"></center>
        </a>
      </div>
		<div class="row" id="zapatazos">
			<div>
				<center>
					<img src="{{zapatazo.imglink}}" alt="{{zapatazo.id}}">
				</center>
        <div class="unzapatazo-footer">
          <a class="twitter-hashtag-button"
              href="https://twitter.com/intent/tweet?button_hashtag=zapatazos"
              data-related="twitter"
              data-url="http://zapatazos.herokuapp.com/{{zapatazo.id}}"
              data-size="large">
                Tweet #zapatazos
          </a>
        </div>
			</div>
		</div>
    <script>
      window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>

    </div>
  </body>
</html>